@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color:  #706FE5;
    --secondary-color: #000000;
    --font-color:#ffffff;
    --font-size: 16px;
  }

*{
    margin: 0px;
    padding: 0px 10px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
   font-family: "Poppins", sans-serif;

}

i{
    font-size: 24px;
}
header{
    padding: 10px;
    margin-top: 20px;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
  
    
}
.nav-items{
    display: flex;
    justify-content: space-around;
   gap: 10px;
   
   flex-basis: 70%;
   font-size: 20px;
  
}
.nav-items a{
    color:var(--secondary-color);
}
.g-button{
    color:var(--font-color);
    background-color:var(--primary-color);
   border-width:0px;
   font-size: 10px;
   padding: 10px 15px;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
}
.toggle-button{
    display: none;
}
.search-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  
}
.search-container{
    flex-basis: 50%;
    display: flex;
    gap: 10px;
}
.search-bar{
    background-color: rgb(228, 224, 224);
    flex-basis: 90%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
}
.search-bar input{
    background-color: transparent;
    border: 0;
   color: #F9FAFB;
}
.search-icon{
    color:var(--primary-color);
}
.user-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-basis:20%;
}
.notif-icon{
    color:#FFA412 ;
    background-color:#FFFAF1 ;
    padding: 10px;
    border-radius: 10px;
    
}
.user-details>h3{
 font-weight: 500;
}
.user-details p{
    font-weight: 300;
    color: gray;
}
main{
    padding: 10px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 10px;
    row-gap: 10px;
    
}
.card{
    color: var(--font-color);
    border-radius: 10px;
    display: flex;
    gap: 15px;
    padding: 10px;
   
    background-image: linear-gradient(to top,#4776E6,#8E54E9);
}
.services-container{
    margin-top: 20px;
    border: 2px dashed gray;
    display: flex;
    justify-content: space-around;
border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.service p{
 color:#8E54E9;
 font-weight: 700;
 line-height: 4;
 font-size: 20px;
}
.service h3{
   
    font-weight: 400;
}

.refer-section{
    margin-top: 20px;
}
hr{
    width: 50%;

}
.plus{
    cursor: pointer;
}
.ref-link{
    margin-top: 30px;
    display: flex;
   
    flex: 1 0 auto;
    
}
.referral-link{
   
    flex-basis: 70%;
}
.referral-code{
   flex-basis: 30%;
}
.link-container{
    display: flex;
  
    align-items: center;
    gap: 10px;
}
.link{
    border: 1px solid ;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.link-container button{
    border-width: 0px;
display: flex;
padding: 10px;
    color: var(--font-color);
border-radius: 20px;
    background-image: linear-gradient(to top,#4776E6,#8E54E9);
}
.footer-details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.details li{
font-weight: 400;
}
.socila-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.apps{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tabel-section{
    margin: 50px 10px;
}
.table-search-container{
    display: flex;
   align-items: center;
    justify-content: space-between;
}

.table-entries-display input{
    border: 1px solid #4776E6 ;
border-radius: 10px;
color: #4776E6;
background-color: #e5e9ec;
width: 50px;

}

.table-search{
    display: flex;
    flex-basis: 70%;
    align-items: center;
}
.table-search input{
    border: 1px solid #4776E6 ;
    border-radius: 10px;
    color: #4776E6;
    padding: 10px;
    flex-basis: 70%;
   

}
.table{
    /* background-color: #6c2613; */
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
thead{
    /* background-color: #FFA412; */
    background-image: linear-gradient(to top,#4776E6,#8E54E9);
    
    text-align: left;
    color: var(--font-color);
}
tr{
    height: 50px;
}

th{
    font-weight: 400;
}

tbody tr{
    
    border-bottom: 1px solid #000000;

}
.error{
    text-align: center;
    color: #8E54E9;
    padding: 20px;
    border: 1px solid #706FE5;
    width: 100%;
   border-radius: 10px;
    margin: 20px;
}

.pagination-container{
margin-top: 30px;
display: flex;
} 
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-basis: 70%;
}
.btn1,.btn2{
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
.pagination ul{
    display: flex;
    gap: 5px;
    flex-basis: 70%;
   align-items: center;
    justify-content: space-between;
}


.pagelink{
    padding: 7px 20px;
cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
    padding: 7px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    
}

.active{
    background-image: linear-gradient(to top,#4776E6,#8E54E9);
    color: white;
}
.nav-items-sm{
    display: none;
}
a:hover{
    text-decoration: underline;
    color: #706FE5;
}
button{
    cursor: pointer;
}